body {

    margin: 0;
    width: 100%;

    * {
        box-sizing: border-box;
        margin: 0;
    } 
}

.styled-link-white {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 14px;
    border: solid white 1px;
    border-radius: 30px;
    color: white;
}

.styled-link {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 14px;
    border: solid black 1px;
    border-radius: 30px;
    color: black;
}

ul {
    list-style: none; 
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    overflow: hidden;
}

header {

    background-color: #D92B4D;
    padding: 24px 24px 88px 24px;

    .logoheaderwhite {
        width: 140px;
        height: 40px;
    }
    
    nav {
        
        ul {
            display: none;
        }
    }

    h1 { 
        color: white;
        margin-bottom: 24px;
        margin-top: 24px;
    }

        p {
            color: white;
            margin-bottom: 46px;
        }
}

.content-section-one {

    padding: 0px 24px 88px 24px;

    h2 {
        margin-top: 16px;
    }

    p {
        margin-top: 8px;
        margin-bottom: 16px;
    }
}

.content-section-two {

    padding: 0px 24px 72px 24px;

    h3 {
        margin-top: 16px;
        margin-bottom: 8px;
    }

    p {
        margin-bottom: 16px;
    }

    .paragraph-extrapadding {

        margin-bottom: 62px ;
    }
}

.content-section-three {

    padding: 40px 24px 88px 24px;
    background-color: #416AD9;

    .h1 {
        color: white;
        margin-top: 42px;
        margin-bottom: 38px;
    }

    h3 {
        margin-top: 16px;
        color: white;
    }

        p {
            color: white;
        }

        a {
            margin-bottom: 70px;
        }
}

.content-section-four {
    
    padding: 56px 24px 76px 24px;

    p {
        margin-top: 8px;
        margin-bottom: 27px;
    }
}

.content-section-five {

    padding: 24px 24px 91px 24px;

    h2 {
        margin-bottom: 24px;
    }

    .h3-extra-marging {
        margin-bottom: 48px;
    }

    .h3-normal {
        margin-bottom: 25px;
    }

        .small-text {
            margin-bottom: 49px;
        }

        .purple-text { 
            color: #706A7C;
            margin-top: 16px;
            margin-bottom: 8px;
        }
}

.content-section-six {

    padding: 56px 24px 50px 24px;
    background-color: #008273;

    h2 {
        color: white;
        margin-bottom: 16px;
    }

        p {
            color: white;
        }

        .p-link-margin {
            margin-bottom: 46px;
        }

        img {
            margin-top: 24px;
            margin-bottom: 24px;
        }
}

.content-section-seven {

    background-color: #008273;

    button {
        color: white;
        background-color: #190B34;
        border: none;
        border-radius: 10px 0px 0px 0px;
        margin-left: 57.2%;
        width: 154px;
        height: 49px;
/* 
        img:hover {



        } */
    }
}


footer {

    padding: 40px 24px 50px 24px;

    nav {
        display: flex;
        flex-direction: column;

        li {
            margin-bottom: 16px;
        }
    }

    .logosfooter {

        display: flex;
        flex-direction: column;

        img {
            margin-bottom: 32px;
        }

        .emerce {
            width: 121px;
            height: 44px;
        }   

        .dda-footer {
            width: 44px;
            height: 58px;
        }

        .ux-academy-footer {
            width: 102px;
            height: 23px;
        }

        .sdn-footer {
            width: 50px;
            height: 12px;
        }

        .informaat-footer {
            width: 111px;
            height: 32px;
        }
    }

    .informationfooter {

    }

}

.socials {
    width: 24px;
    height: 24px;
}