body {

    margin: 0;
    width: 100%;

    * {
        box-sizing: border-box;
        margin: 0;
    } 
}

/* algemene styling */


ul {
    list-style: none; 
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    overflow: hidden;
}


body > section {
    padding: 0 6.6vw;

    @media ( min-width: 1024px) {
        padding: 0 4vw;
    }
}

/* speciafieke styling */

header {

    display: flex;
    justify-content: space-between;
    background-color: #D92B4D;
    padding: 24px 0px 0px 24px;

    .logo-header-white {
        width: 140px;
        height: 40px;
    }

    div {
        background-color: white;
        height: 40px;
        width: 60px;
        border-radius: 30px 0px 0px 30px;
    }
    
    nav {
        
        ul {
            display: none;
        }
    }
}


body > section:nth-of-type(1) {

    display:flex;
    flex-direction: column;
    position: relative;
    background-color: #D92B4D;
    gap: 24px;
    padding-top: 24px;
    padding-bottom: 88px;

    h1 { 
        grid-column: span 2;
        max-width: 857px;
        color: white;
        margin-top: 24px;

        @media ( min-width: 1024px ) {
            
        }
    }

        p {
            max-width: 857px;
            margin-bottom: 8px;
            color: white;
            text-wrap: balance;

            @media (min-width: 1024px ) {
                
            }
        }

        button {
            position: absolute;
            right: 20px;
            bottom: 20px;
            height: 96px;
            width: 96px;
            background: none;
            border: none;

            @media ( min-width: 1024px ) {
                left: 80px;
                bottom: 80px;
            }
        }
            
        .img-nodisplay {
            display: none;

            @media ( min-width: 1024px ) {
                display: block;
                position: relative;
                aspect-ratio: 1.38;
                width: 66%;
                margin-top: -3vw;
                margin-right: -4vw;
                margin-left: auto;
            }
        }
}


body > section:nth-of-type(2) {

    padding-bottom: 88px;

    @media ( min-width: 1024px ) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 16px;
        column-gap: 56px;
        grid-template-rows: 1fr 26px;
        padding-top: 72px;
    }

    h2 {
        margin-top: 16px;
    }

    p {
        margin-top: 8px;
        margin-bottom: 16px;
    }

    a {
        @media ( min-width: 1024px ) {
            grid-column: 2/2;
        }
    }
}

body > section:nth-of-type(3) {

    padding-bottom: 72px;

    @media ( min-width: 1024px ) {
        display: grid;
        grid-template-rows: 1fr 408px 55px;
        grid-template-columns: 1fr 1fr;
        row-gap: 40px;
        column-gap: 40px;
    }

    article:nth-of-type(1) {

        @media ( min-width: 1024px ) {
            grid-column: span 2;
        }
    }

    img {
        object-fit: cover;
        max-height: 648px;
        max-width: 1152px;
    }

    h3 {
        margin-top: 16px;
        margin-bottom: 8px;
    }

    p {
        margin-bottom: 16px;
    }

    .paragraph-extrapadding {
        margin-bottom: 62px ;
    }
}

body > section:nth-of-type(4) {

    display: flex;
    flex-direction: column;
    position: relative;
    padding-top: 40px;
    padding-bottom: 88px;
    background-color: #416AD9;
    overflow-x: hidden;


    h3 {
        color: white;
        margin-top: 42px;
        margin-bottom: 38px;
    }

    h2 {
        margin-top: 16px;
        color: white;
    }

    p {
        color: white;
    }

    img {
        display: none;

        @media ( min-width: 1024px ) {
            display: block;
            position: relative;
            width: 50%;
            aspect-ratio: 1.7;
            margin-bottom: -14vw;
            margin-right: -6vw;
            margin-left: auto;
            transform: rotate(3deg);
        }
    }
}

body > section:nth-of-type(5) {
    
    padding-top: 56px;
    padding-bottom: 76px;

    @media ( min-width: 1024px ) {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-auto-rows: min-content;
        padding-top: 120px;
    }

    img { 
        display: none;

        @media ( min-width: 1024px ) {
            display:block;
            grid-row: 1/4;
            grid-column: 2/2;
        }
    }

    p {
        margin-top: 8px;
        margin-bottom: 15px;

        @media ( min-width: 1024px ) {
            grid-column: 1/1;
            max-width: 608px;
            margin: 0px;
        }
    }

    a {
        @media ( min-width: 1024px ) {
            grid-column: 1/1;
        }
    }
}

body > section:nth-of-type(6) {

    padding-top: 24px;
    padding-bottom: 91px;

    @media ( min-width: 1024px ) {
        display: grid;
        grid-template-columns: repeat(auto-fit, 452px);
        column-gap: 40px;
        row-gap: 48px;
    }

    h2 {
        margin-bottom: 24px;

        @media ( min-width: 1024px ) {
            font-size: 40px;
            grid-column: span 2;
        }
    }

    img {
        max-height: 500px;
        object-fit: cover;
        
        @media ( min-width: 1024px ) {
            max-height: 254px;
            max-width: 452px;
        }
    }

    .h3-extra-marging {
        margin-bottom: 48px;
    }

    .h3-normal {
        margin-bottom: 25px;
    }

    .name-block {
        display: grid;
        grid-template-columns: 40px 1fr;
        grid-template-rows: 20px 20px;
        column-gap: 8px;
    }

    .name-block:nth-of-type(1) {
        margin-bottom: 48px;
    }

        .circle {
            background-color: #FF335A;
            height: 40px;
            width: 40px;
            border-radius: 100%;
        }

        .sub-text {
            grid-column: 2/2;
            grid-row: 1/1;
        }

        .datum-text {
            grid-column: 2/2;
            grid-row: 2/2;
        }

        .article-type-text { 
            color: #706A7C;
            margin-top: 16px;
            margin-bottom: 8px;
        }
}

body > section:nth-of-type(7) {

    padding-top: 56px;
    padding-bottom: 50px;
    background-color: #008273;

    @media ( min-width: 1024px ) {
        display: grid;
        grid-auto-rows: max-content;
        grid-template-columns: 2fr 1fr;
        column-gap: 40px;
    }

    h2 {
        color: white;
        margin-bottom: 16px;
    }

        p:nth-of-type(1) {
            color: white;

            @media ( min-width: 1024px ) {
                grid-row: 2/3;
                grid-column: 1/2;
            }
        }

        .p-link-margin {
            color: white;
            margin-bottom: 46px;

            @media ( min-width: 1024px ) {
                margin: 0;
                grid-row: 3/4;
            }
        }

        a {
            @media ( min-width: 1024px ) {
                grid-column: 1/2;
            }
        }

        img {
            margin-top: 24px;
            margin-bottom: 24px;

            @media ( min-width: 1024px ) {
                grid-row: 2/4;
                grid-column: 2/3;
                margin-left: auto;
            }
        }
}

body > section:nth-of-type(8) {

    display: flex;
    justify-content: flex-end;   
    background-color: #008273;
    padding-right: 0;

    @media ( min-width: 1024px) {
        padding: 0 4vw;
    }

    button {
        color: white;
        cursor: pointer;
        background-color: #190B34;
        border: none;
        border-radius: 10px 0px 0px 0px;
        width: 154px;
        height: 49px;
/* 
        img:hover {



        } */
    }
}


footer {

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: max-content;
    padding: 40px 24px 50px 24px;

    @media ( min-width: 1024px ) {
        display: flex;
        flex-direction: row;
    }

    nav {
        display: flex;
        flex-direction: column;

        ul {
            padding-left: 0px;
        }

            li {
                margin-bottom: 16px;
            }
    }

    .logos-footer {

        display: flex;
        flex-direction: column;
        align-items: flex-end;

        img {
            margin-bottom: 32px;
        }

        img:nth-of-type(1) {
            width: 121px;
            height: 44px;
        }   

        img:nth-of-type(2) {
            width: 44px;
            height: 58px;
        }

        img:nth-of-type(3) {
            width: 102px;
            height: 23px;
        }

        img:nth-of-type(4) {
            width: 50px;
            height: 12px;
        }
    }

    .information-footer {

        display: flex;
        flex-direction: column;
        grid-row: 3/4;
        grid-column: 1/1;
        padding-bottom: 56px;
        padding-top: 40px;

        a {
            text-decoration: underline;
            margin-top: 12px;
        }
    }

    .socials-footer {

        display: flex;
        flex-direction: row;
        grid-row: 2/3;
        gap: 24px;

        .socials {
            width: 24px;
            height: 24px;
        }
    }


    .informaat-footer {

        grid-column: span 2 ;
        grid-row: 4/5;
        border-top: 1px solid black;
        padding-top: 24px;

        .informaat-information {
            display: grid;
            grid-template-columns: 110px 170px;
            gap: 26px;
            margin-bottom: 24px;

            .informaat-footer-logo {
                width: 111px;
                height: 32px;
            }
        }
    }
}

