
@font-face {
    font-family: "Gilroy-bold";
    src: url(./fonts/gilroy-bold.woff2) format('woff2'); }

@font-face {
    font-family: "Gilroy-black";
    src: url(./fonts/gilroy-extra-bold.woff2) format('woff2'); }

@font-face {
    font-family: "Gilroy";
    src: url(./fonts/gilroy-regular.woff2) format('woff2'); }

@font-face {
    font-family: "Gilroy-italic";
    src: url(./fonts/gilroy-regular-italic.woff2) format('woff2'); }


#subtexttitel {
    padding-bottom: 80px;}  

.color-one {
    background-color: #E8E6DF; 
    border: solid black; }

.color-two {
    background-color: #7F4BBA;
    border: solid black; }

.color-three {
    background-color: #008273;
    border: solid black; }

.color-four {
    background-color: #D92B4D;
    border: solid black; }

.color-five {
    background-color: #416AD9;
    border: solid black; }

/* mobile */

.h1 {
    font-family: "Gilroy-black"; 
    font-size: 40px;
    line-height: 110%;
    letter-spacing: 0%; }

.h2 {
    font-family: "Gilroy-black"; 
    font-size: 34px;
    line-height: 110%;
    letter-spacing: 0%; }

.h3 {
    font-family: "Gilroy-bold";
    font-size: 20px;
    line-height: 110%; 
    letter-spacing: 0%; }

.paragraph {
    font-family: "Gilroy";
    font-size: 16px;
    line-height: 160%; }

.paragraph-big {
    font-family: "Gilroy";
    font-size: 18px;
    line-height: 160%; }

.links {
    font-family: "Gilroy-bold";
    font-size: 17px;
    line-height: 150%; }

.links-small, .subtext {
    font-family: "Gilroy-bold";
    font-size: 15px;
    line-height: 110%; }

.datum-text {
    font-family: "Gilroy";
    font-size: 14px;
    line-height: 150%; }

.footer-text {
    font-family: "Gilroy";
    font-size: 12px;
    line-height: 150%; }

.italic-text {
    font-family: "Gilroy-italic";
    font-size: 14px;
    line-height: 28px; }


    .styled-link {
        display: flex;
        align-items: center;
        width: fit-content;
        gap: 8px;
        padding: 14px 24px 14px 24px;
        border: solid black 2px;
        border-radius: 30px;
        color: black;
    }

    .styled-link-white {
        display: flex;
        align-items: center;
        width: fit-content;
        gap: 8px;
        padding: 14px 24px 14px 24px;
        border: solid white 2px;
        border-radius: 30px;
        color: white;
    }